
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(239, 237, 237);
}


.auth-box {
  background-color: white;
  width: 400px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.auth-box h2 {
  margin-bottom: 30px;
}


.auth-input {
  border-radius: 20px;
  width: 100%;
  border: 1px solid grey;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 14px;
}

.auth-submit {
  padding: 10px;
  border-radius: 20px;
  width: 100px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.auth-submit:hover {
  background-color: #333;
}

.auth-link {
  margin-top: 10px;
  text-decoration: none;
  font-size: 14px;
}

.auth-link:hover {
  text-decoration: underline;
}
